<html>
<head>
  <title>rack-fontserve demo</title>
<% Font.all.each do |font| %>
  <link rel="stylesheet" href="/<%= font.name %>.css?nocache=<%= rand(500000000) * rand(5000)/(rand(2000)+3)+5 %>"/>  
<% end %>
  <style type="text/css">
    body { 
      text-align: center;
      padding: 0; margin: 0; 
      font-size: 180%; 
      background: #ddd;
      font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    }
    h1 { 
      background-color: #222526; 
      padding: 40px 20px;
      margin: 0;
      color: #7F203B;
      font-size: 72px;
      text-shadow: #D94F00 2px 2px 0px, #F28D00 4px 4px 0px, #FFBB6E 6px 6px 0px;
      border-bottom: 4px solid black;
    }
    
    footer, footer a {
      color: #777;
      font-size: 13px;
    }
    
    h2 {
      text-shadow: white 1px 1px 1px;
    }
    
    <% Font.all.each do |font| %>
    .<%= font.name %> { font-family: '<%= font.name %>', Helvetica, Arial, sans-serif; }
    <% end %>
  </style>
</head>

<body>
  <h1>rack-fontserve</h1>
  <% Font.all.each do |font| %>
  <div class="<%= font.name %>">
    <h2><%= font.name %></h2>
    <p>The quick brown fox jumps over the lazy dog (possibly)</p>
  </div>
  <% end %>
  <footer>
    <a href="https://github.com/colszowka/rack-fontserve">rack-fontserve</a> v<%= FONTSERVE_VERSION %>
  </footer>
</body>
</html>

